/**
 * ShowcaseChart Styles
 * Ported from static/css/landing.css .interactive-chart-container
 */

.chartContainer {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.chart {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: block;
  overflow: hidden;
}
