/**
 * ShowcaseChart Styles
 * Ported from static/css/landing.css .interactive-chart-container
 */

.chartContainer {
  width: 100%;
  height: 100%;
  min-height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
}
